* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url(img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: blur(3px);
}
.nav {
  top: 0px;
  left: 90px;
  background-color: rgba(255, 255, 255, 1);
  width: 300px;
  height: 300px;
  padding-top: 50px;
  position: absolute;
  border-radius: 40px 0px 40px 40px;
  display: none !important;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.hambergermenu {
  display: none;
}
.hambergermenu1 {
  top: 23px;
  left: 243px;
  width: 38px;
  height: 29px;
  position: absolute;
}

ul {
  position: absolute;
  top: 10px;
  left: 20%;
  display: flex;
}
.carte {
  top: 70px;
  margin-left:750px;
  position: sticky;
  z-index: 1;
  display: flex;
  flex-direction: column;
}
#icon {
  padding-top: 8px;
  margin-left: 10px;
  width: 30px;
  height: 40px;
}
#icon0 {
  padding-top: 8px;
  margin-left: 10px;
  width: 30px;
  height: 40px;
  display: none;
}
.cnt {
  width: 500px;
  height: auto;
  display: none;
  flex-direction: column;
  align-items: center;
  border-color: transparent;
  border-radius: 40px;
  background-color: rgba(0, 0, 0, 0.700);
  color: aliceblue;
  padding-top: 20px;
}
.cnt img {
  width: 120px;
  margin-bottom: 10px;
}
#bill {
  width: 480px;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
  scrollbar-color: black white;
}
#bill::-webkit-scrollbar {
  width: 12px;
}
#bill::-webkit-scrollbar-track {
  background: rgb(0, 0, 0);
}
#bill::-webkit-scrollbar-thumb {
  background-color: rgb(71, 49, 239);
  border-radius: 20px;
  border: 3px solid rgb(0, 0, 0);
}
#bill div {
  margin-bottom: 10px;
  background-color: rgba(71, 49, 239, 0.301);
  width: 400px;
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
}
#button1:hover {
  background-color: rgba(244, 134, 32, 0.5);
}
.cnt1 {
  top: 1580px;
  left: 0px;
  width: 500px;
  height: 60px;
  font-size: large;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0px 0px 40px 40px;
  background-color: rgba(71, 49, 239, 0.700);
  color: aliceblue;
  padding: 40px;
}
.button1 {
  width: 148px;
  height: 58px;
  display: flex;
  align-items: center;
  border-radius: 30px;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.700);
  color: white;
  text-decoration: none;
}

.username {
  position: relative;
  top: 5px;
  left: 1%;
  color: white;
  font-size: 17px;
}
.disconnect {
  position: relative;
  top: 5px;
  left: 1%;
  width: 130px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(22, 104, 245);
  color: white;
  font-size: smaller;
  text-decoration: none;
  border-radius: 10px;
}
.n {
  box-sizing: border-box;
  display: flex;
  position: sticky;
  top: 0%;
  z-index: 1;
  width: 100%;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.842);
  color: #fff;
}

nav div ul li {
  display: inline-block;
  padding: 12px 16px;
  color: #fff;
}
.logoi {
  width: auto;
  height: 60px;
  margin-right: 10px;
  padding: 0%;
}
.logi {
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  position: absolute;
}
nav div ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}
nav div ul li a:hover {
  color: rgb(43, 116, 226);
  transition: all 0.1s;
}
nav div ul li a:active {
  padding: 5px;
  border-radius: 10%;
  border: solid rgb(43, 160, 226);
}
nav div a img {
  width: auto;
  height: 60px;
  margin-right: 10px;
  padding: 0%;
}
footer div a img {
  width: auto;
  height: 60px;
  margin-right: 10px;
  padding: 0%;
}

p {
  font-size: 12px;
  color: white;
  padding-left: 10%;
}
.login {
  font-size: small;
  transition: all 0.3s;
  margin: 10%;
  display: flex;
}
.login:hover {
  color: rgb(43, 186, 226);
  border: solid;
  border-radius: 20%;
  padding: 10%;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 200, 255),
    0 0 50px rgb(0, 109, 139);
  box-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 174, 255),
    0 0 50px rgb(0, 67, 139);
}
.loginn {
  font-size: small;
  transition: all 0.3s;
  margin: 5%;
  display: flex;
  border: 0.2px solid;
  padding: 2%;
  color: rgb(255, 255, 255);
  border-radius: 10%;
}
.loginn:hover {
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 200, 255),
    0 0 50px rgb(0, 109, 139);
  box-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 174, 255),
    0 0 50px rgb(0, 67, 139);
  color: rgb(43, 186, 226);
  border-radius: 10%;
}
.loginn1 {
  font-size: small;
  transition: all 0.3s;
  margin: 5%;
  display: flex;
  border: 0.2px solid;
  padding: 2%;
  color: rgb(255, 255, 255);
  border-radius: 10%;
}
.loginn1:hover {
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 255, 55),
    0 0 50px rgb(0, 139, 19);
  box-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 255, 51),
    0 0 50px rgb(0, 139, 0);
  color: rgb(20, 126, 30);
  border-radius: 10%;
}
.loginn2 {
  font-size: small;
  transition: all 0.3s;
  margin: 5%;
  display: flex;
  border: 0.2px solid;
  padding: 2%;
  color: rgb(255, 255, 255);
  border-radius: 10%;
}
.loginn2:hover {
  border-radius: 10%;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(255, 60, 0),
    0 0 50px rgb(139, 14, 0);
  box-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(255, 38, 0),
    0 0 50px rgb(139, 35, 0);
  color: rgb(126, 20, 20);
}

.log {
  display: flex;
  padding: 2%;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(18, 240, 11),
    0 0 50px rgb(16, 139, 0);
}
.log1 {
  display: flex;
  padding: 2%;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(217, 29, 29),
    0 0 50px rgb(139, 0, 0);
}
.log2 {
  display: flex;
  padding: 2%;
  justify-content: center;
  align-items: center;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 200, 255),
    0 0 50px rgb(0, 109, 139);
}

.divlog {
  display: flex;
}
.divlogg {
  display: flex;
}
.mom {
  display: flex;
  justify-content: center;
  align-items: center;
}
.container2 {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  justify-content: flex-end;
  padding: 5%;
  background-color: rgba(0, 0, 0, 0.233);
  align-items: center;
  padding-left: 2%;
}
.cont {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: relative;
  left: -15%;
}
.midlle {
  display: flex;
  flex-direction: column;
  position: relative;
  left: 8%;
}
span {
  color: white;
  font-size: medium;
}
.show {
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 0, 0),
    0 0 50px rgb(0, 0, 0);
}
footer {
  box-sizing: border-box;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  padding: 20px 40px;
  align-items: center;
}
.foot {
  display: flex;
  flex-direction: column;
}
.containerr {
  padding-left: 20px;
  display: flex;
  float: left;
  gap: 70px;
  justify-content: center;
  padding: 5%;
}
.container {
  display: flex;
  float: left;
  gap: 70px;
  justify-content: center;
  padding: 5%;
}
.containerz {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
  padding: 5%;
}
.containera {
  display: flex;
  justify-content: center;
  gap: 70px;
  justify-content: center;
  padding: 5%;
}
.container4 {
  display: flex;
  gap: 70px;
  justify-content: center;
  padding: 5%;
}
.MM {
  border-radius: 100%;
}
.container3 {
  display: flex;
  float: right;
  gap: 70px;
  justify-content: center;
  padding-top: 5%;
  padding-bottom: 5%;
  background-color: rgba(0, 0, 0, 0.233);
  width: 100%;
}
.box {
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.235);
  border-radius: 10%;
  width: 200px;
  height: 200px;
  align-items: center;
  text-align: center;
  padding-top: 2%;
  transition: all 0.4s;
}
.box:hover {
  box-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(18, 240, 11),
    0 0 50px rgb(16, 139, 0);
  width: 200px;
  height: 200px;
}
.buy {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buy button {
  width: 40%;
  background-color: rgb(21, 41, 74);
  color: white;
  font-size: smaller;
  text-decoration: none;
  border-radius: 10px;
  border: 0px;
  padding: 1%;
}
.btnn {
  align-items: center;
  padding: 1%;
  padding-left: 29%;
  font-size: smaller;
}
.cont {
  display: flex;
  flex-direction: column;
  width: 400px;
  position: relative;
  left: -15%;
}
.boxa {
  display: flex;
  justify-content: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.235);
  border-radius: 10%;
  gap: 10;
  width: 350px;
  height: 250px;
  align-items: center;
  text-align: center;
  padding-top: 2%;
  transition: all 0.4s;
}
.boxa:hover {
  box-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(49, 11, 240),
    0 0 50px rgb(15, 125, 158);
}
.footer {
  background-color: rgba(0, 0, 0, 0.233);
  color: white;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
  padding-bottom: 40px;
  padding-top: 30px;
  margin-top: 120px;
}
h2 {
  position: relative;
  padding: 0 0 10px;
  margin-bottom: 10px;
}

h2:after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #2430da;
  text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(49, 11, 240),
    0 0 50px rgb(15, 125, 158);
}

.logo1 {
  width: 5%;
}
.logo {
  width: 60%;
  height: auto;
}
.first {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 50px;
}
.second {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 100px;
}
.therd {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 100px;
}
.social {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.contact-section {
  background: url() no-repeat center;
  background-size: cover;
}
#myVideo {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  top: 33%;
}
.bleu {
  min-width: 800px;
  min-height: 800px;
  margin: 0;
  padding-top: 100px;
}
.content {
  position: absolute;
  bottom: 600px;
  color: #f1f1f1;
  width: 100%;
}
.contact-section h1 {
  text-align: center;
  color: #ddd;
  margin-top: 90px;
}
.border {
  width: 100px;
  height: 10px;
  background: #34495e;
  margin: 40px auto;
}

.contact-form {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden;
}

.contact-form-text {
  width: 95%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background: #111;
  padding: 20px 40px;
  outline: none;
  color: #ddd;
  transition: 0.5s;
}

.contact-form-text:focus {
  box-shadow: 0 0 10px 4px #2f6396;
}
textarea.contact-form-text {
  resize: none;
  height: 120px;
}
.contact-form-btn {
  float: right;
  border: 0;
  background: #007ffd;
  color: #fff;
  padding: 12px 50px;
  border-radius: 20px;
  cursor: pointer;
  transition: 0.5s;
  box-shadow: 3px 3px 3px rgb(0, 0, 0);
}
.contact-form-btn:hover {
  background: #292eb9;
}
a {
  font-size: medium;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
.ret{
  position: absolute;
  left: 333px !important;
}
@media only screen and (max-width: 400px) {
  body {
    background-image: url(img/background.jpg);
    background-repeat: repeat;
    background-size: cover;
    backdrop-filter: blur(3px);
  }
  .ret{
    position: absolute;
    left: 15px !important;
  }
  .hambergermenu {
    top: 23px;
    left: 233px;
    width: 38px;
    height: 29px;
    position: absolute;
    background-color: #fff;
    display: none;
    z-index: 55;
  }
  #icon {
    position: absolute;
    top: 70px;
    left: 300px;
  }
  #icon0 {
    position: absolute;
    top: 70px;
    left: 300px;
    width: 30px;
  }
  .carte {
    top: 80px;
    margin-left:5px;
    position: sticky;
    z-index: 1;
    display: flex;
    flex-direction: column;
  }
  .cnt {
    position: absolute;
    top: 50%;
    width: 99%;
  }
  .cnt1 {
    width: 99%;
  }
  .n {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 0%;
    z-index: 2;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.215);
    color: #fff;
  }
  a {
    font-size: 9px;
    text-decoration: none;
    color: rgb(255, 255, 255);
  }

  .disconnect {
    display: flex !important;
    position: relative;
    left: 130px;
  }
  .username {
    display: none !important;
  }
  #bill{
    width: auto;
  }
  #bill div {
    width: 85%;
  }
  .button1 {
    font-size: 15px;
  }
  .map-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  .map-responsive iframe {
    left: 0;
    top: 0;

    position: absolute;
  }
  ul {
    padding-left: 0px;
  }
  nav div ul li {
    display: inline-block;
    padding-left: 0%;
  }
  nav div ul li a {
    font-size: 15px;
  }
  nav div ul li a:hover {
    font-size: smaller;
    color: rgb(43, 116, 226);
    transition: all 0.3s;
  }
  nav div ul li a:active {
    padding: 1px 2px;
    color: rgb(43, 160, 226);
    border-radius: 10%;
    border: solid;
  }
  .divlogg {
    display: flex;
    margin-right: 40%;
  }
  nav div a img {
    width: auto;
    height: 60px;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0%;
  }
  footer div a img {
    width: auto;
    height: 60px;
    margin-right: 10px;
    padding: 30%;
  }

  p {
    font-size: 8px;
    color: white;
    padding-left: 10%;
  }
  .login {
    font-size: small;
    transition: all 0.1s;
    margin: 4%;
    padding-left: 10%;
    padding-right: 2%;
    display: flex;
  }
  .login:hover {
    color: rgb(43, 186, 226);
    border: solid;
    border-radius: 20%;
    margin: 3%;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 200, 255),
      0 0 50px rgb(0, 109, 139);
    box-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 174, 255),
      0 0 50px rgb(0, 67, 139);
  }
  .logi {
    font-size: small;
    padding: 10px 10px;
    width: 19%;
    display: flex;
    border-radius: 0%;

    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 200, 255),
      0 0 50px rgb(0, 109, 139);
    box-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 174, 255),
      0 0 50px rgb(0, 67, 139);
  }
  .log {
    display: flex;
    padding: 1%;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(18, 240, 11),
      0 0 50px rgb(16, 139, 0);
  }
  .zz {
    width: 100%;
  }
  .log1 {
    display: flex;
    padding: 1%;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(217, 29, 29),
      0 0 50px rgb(139, 0, 0);
  }
  .log2 {
    display: flex;
    padding: 0%;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 200, 255),
      0 0 50px rgb(0, 109, 139);
  }
  #log2 {
    width: 100px;
  }

  .divlog {
    display: flex;
  }
  .mom {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    justify-content: center;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.233);
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
  }
  .cont {
    display: flex;
    flex-direction: column;
    width: 400px;
    position: relative;
    left: -15%;
  }
  .midlle {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 8%;
  }
  span {
    color: white;
    font-size: small;
  }
  .show {
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(0, 0, 0),
      0 0 50px rgb(0, 0, 0);
  }
  footer {
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-top: 1px;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 20px 40px;
    align-items: center;
  }
  .foot {
    display: flex;
    flex-direction: column;
  }
  .containerr {
    display: flex;
    flex-direction: column;
    float: left;
    gap: 70px;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }

  .container {
    display: flex;
    flex-direction: column;
    float: left;
    gap: 70px;
    justify-content: center;
    align-items: center;
    padding: 5%;
  }
  .containera {
    display: flex;
    flex-direction: column;

    gap: 70px;

    padding: 5%;
  }

  .container4 {
    display: flex;
    gap: 70px;
    align-items: center;
    padding: 5%;
    flex-direction: column;
  }
  .MM {
    border-radius: 100%;
  }
  .container3 {
    flex-direction: column-reverse;
    display: flex;
    float: right;
    gap: 70px;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    background-color: rgba(0, 0, 0, 0.233);
    width: 100%;
  }
  .box {
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.598);
    border-radius: 10%;
    width: 200px;
    height: auto;
    align-items: center;
    text-align: center;
    padding-top: 2%;
    transition: all 0.4s;
  }
  .sas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .box:hover {
    box-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgba(63, 72, 62, 0),
      0 0 50px rgba(16, 139, 0, 0);
    width: 200px;
    height: 180px;
  }
  .buy button {
    width: 100px;
    height: 50px;
  }
  .boxa {
    margin-left: 7%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.235);
    border-radius: 10%;
    gap: 10;
    width: 300px;
    height: 200px;
    align-items: center;
    text-align: center;
    padding-top: 2%;
    transition: all 0.4s;
  }
  .boxa:hover {
    box-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(49, 11, 240),
      0 0 50px rgb(15, 125, 158);
  }
  .footer {
    background-color: rgba(0, 0, 0, 0.233);
    color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 90px;
    padding: 0%;
  }
  h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px;
  }

  h2:after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2430da;
    text-shadow: 1px 1px 2px rgb(0, 0, 0), 0 0 25px rgb(49, 11, 240),
      0 0 50px rgb(15, 125, 158);
  }

  .logo1 {
    width: 5%;
  }
  .logo {
    width: 50%;
    height: auto;
    margin-left: -30%;
  }
  .first {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 24%;
  }
  .first span {
    font-size: 20px;
  }
  .second {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 6%;
    margin: 3%;
  }
  .therd {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 20%;
    margin: 6%;
  }
  .social {
    display: flex;
    justify-content: space-between;
    margin-left: -20%;
  }
  .contact p {
    font-size: 15px;
  }
  .therd p {
    font-size: 15px;
  }
  .therd span {
    font-size: 20px;
  }
  .second span {
    font-size: 20px;
    padding-left: 20%;
  }
  .contact-section {
    background: url() no-repeat center;
    background-size: cover;
    padding: 40px 0;
    padding-top: 30%;
  }
  #myVideo {
    display: flex;
    visibility: hidden;
  }
  .bleu {
    min-width: 0px;
    min-height: 140px;
    margin: 0;
    padding: 0;
  }
  .content {
    position: absolute;
    bottom: 500px;
    color: #f1f1f1;
    width: 100%;
  }
  .contact-section h1 {
    text-align: center;
    color: #ddd;
  }
  .border {
    width: 100px;
    height: 10px;
    background: #34495e;
    margin: 40px auto;
  }

  .contact-form {
    max-width: 300px;
    margin: auto;
    padding: 0 3px;
    overflow: hidden;
  }

  .contact-form-text {
    display: block;
    width: 100%;
    box-sizing: border-box;
    margin: 12px 0;
    border: 0;
    background: #111;
    padding: 10px 20px;
    outline: none;
    color: #ddd;
    transition: 0.5s;
  }
  .contact-form-text:focus {
    box-shadow: 0 0 10px 4px #2f6396;
  }
  textarea.contact-form-text {
    resize: none;
    height: 100px;
  }
  .contact-form-btn {
    float: right;
    border: 0;
    background: #007ffd;
    color: #fff;
    padding: 9px 30px;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.5s;
    text-shadow: 3px 3px 3px rgb(0, 0, 0);
    box-shadow: 3px 3px 3px rgb(0, 0, 0);
  }
  .contact-form-btn:hover {
    background: #292eb9;
  }
}
